
@font-face {
	font-family: 'FFontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fontawesome-webfont.woff') format('woff'),
		 url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		 url('../fonts/fontawesome-webfont.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}

*,
*::before,
*::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: Tahoma, sans-serif
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

hr{
	margin-bottom: 30px;
}
h1{
	font-size:1.4em;
	font-weight: normal;
	margin: 0;
	color:#818285;
}
h3{
	font-size:.8em;
	font-weight: normal;
	margin: 0;
	color:#515252;
}
h5{
	margin: 0px 0px 20px 0px;
	font-size:1em;
	line-height:1em;
}

a, input, button, .tags a{
	text-decoration: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	color:#5f5f5f;
}

a:hover{
	color:#2cb2bc;
}

time{
	position: absolute;
	bottom:0;
	left:0;
	color:#5f5f5f;
}

.read-more{
	position:absolute;
	right:0;
	bottom:0;
	background: #2cb2bc;
	color:#fff;
	display:block;
	width:100px;
	font-size:14px;
	padding: 0 10px;
	line-height:30px;
	text-decoration: none;
	text-align:center;
}
.read-more:hover, input[type="submit"]:hover, .header-form button:hover, .nav a:hover{
	background: #68C7CE;
	color:#fff;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
/*like*/
/*************************/
.like{
	position:absolute;
	left:0;
	bottom:0;
	padding-left:8px;
	font-size:.9em;
}
.like a{
	margin-right:8px;
}
.like a:hover{
	color:#2cb2bc;
}
.fa{
	display: inline-block;
	width:10px;
	font-family: FFontAwesome;
	height:10px;
	/*border:1px solid #333;*/
	margin: 0 7px 0 0;
}

.fa-comment::before{
	content:'\f0e6';
}
.fa-like::before{
	content:'\f087';
}
/*clearfix
/***************************************************/
.header::after, .logo::after, .title::after, .logoBan::after, .header-nav::after, .registration::after, .nav::after, .lang::after, .main::after, .gallery::after, .post::after, .social::after, .mini-post::after,.newslater::after, .footer::after, .footer-social::after{
	content:'';
	display:table;
	clear: both;
}

/*layout-center*/
/***************************************************/
.layout-center{
	max-width:1170px;
	margin:0 auto;
	/*border:2px solid red;*/
}

.title, .newslater{
	position: relative;
	width:100%;
	height:40px;
	background: #f2f2f4;
	border-right:5px solid #2CB2BC;
	line-height: 40px;
	border-left:8px solid #2CB2BC;
	padding-left: 20px;
	font-weight:bold;
}
.title::before{
	content:'';
	position: absolute;
	top:50%;
	margin-top:-15px;
	left:-8px;
	/*width:5px;*/
	/*height:5px;*/
	border-top:15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:15px solid transparent;
	border-left:15px solid #2CB2BC;
}
.title a{
	font-weight:normal;
}
.last-update{
	position: relative;
	float:left;
	background: #2CB2BC;
	color:#fff;
	font-weight:normal;
	padding: 0px 10px;
	margin-right: 30px;
	width: 115px;
}
.last-update::after{
	content: ' ';
	position: absolute;
	top:0px;
	right:-39px;
	width:0px;
	height: 0px;
	border-top:20px solid transparent;
	border-right:20px solid transparent;
	border-bottom:20px solid transparent;
	border-left:20px solid #2CB2BC;
}
.title-footer{
	position: relative;
	width:100%;
	height:40px;
	background: #f2f2f4;
}

.no-left-border{
	border-left:none;
	padding-left: 0px;
}
.no-left-border::before{
	border:none;
}
/*header*/
/***************************************************/
.registration{
	background: #343333;
	height:40px;
	font-size:.9em;
}
.header-nav li{
	float:left;
}

.header-nav a{
	display: block;
	line-height:40px;
	padding: 0 10px;
	color:#a5a3a5;
	/*border:1px solid #fff;*/
}
.header-nav a:hover{
	border-bottom:2px solid #2CB2BC;
}
.header-form{
	font-family: FFontAwesome;
	width:255px;
	margin: 0;
	padding: 5px 0;
}
.header-form input{
	width:100%;
	line-height:27px;
	border:none;
	outline:0;
	padding-left: 10px;
	font-family:Tahoma,sans-serif;
	background: #dadada;
}
.header-form button{
	line-height:27px;
	background: #2CB2BC;
	border:none;
	color:#fff;
	padding-right: 11px;
	padding-left: 11px;
}
.header-form-wrap{
	float: left;
	width:86%;
	border-left:6px solid #2CB2BC;
}
.header-form button::before{
	content:'\f002';
}
.logoBan{
	background: #fff;
	padding: 20px 0;
}
.header-logo{
	padding: 14px 0;
	float:left;
	width:28%;
}
.header-logo img{
	margin-right:20px;
}
.big-h1{
	font-size:2.2em;
}
.big-h3{
	font-size:1em;
}
.ban{
	background: #d5d5d5;
	line-height:90px;
	width:728px;
	text-align:center;
	font-size:2.5em;
	color:#fff;
	float:right;
}
/*nav*/
/*************************/
.nav{
	background: #2CB2BC;
	height:40px;
}
.nav>li{
	float: left;
	line-height:40px;
}
.nav a{
	display: block;
	padding: 0px 20px;
	color:#fff;
}
/*lang*/
/*************************/
.lang{
	background: #F2F2F4;
	height:35px;
	font-size: .9em;
	color:#5f5f5f;
}
.lang a, .lang span{
	line-height: 35px;
}
.lang-country li{
	float: left;
}
.lang-country a{
	display: block;
	padding: 0px 20px
}

.lang-country a:hover{
	background: #ECEDE9;
}
.language{
	float: right;
}
.language a{
	padding-left: 15px;
}

.language img{
	vertical-align: middle;
	margin-right: 5px;
}

/*content*/
/***************************************************/
.content{
	width: 66.6%;
	/*background: #86FD71;*/
	border-right:1px solid #BBBBBB;
	float: left;
}
.content-wrap{
	padding:15px 10px 0 0;
	/*background: #CBCCC4;*/
}
.slider{
	width: 100%;
	margin:15px 0 30px;
	padding: 0;
	position: relative;
	list-style:none;
}
.slider img{
	max-width: 100%;
	height:auto;
	width:auto\9; /*for IE 8*/
}
.slider-p{
	width:100%;
	position:absolute;
	bottom:0;
	padding-left: 30px;
	background: rgba(0,0,0,.4);
	color:#fff;
	font-size:1.5em;
	line-height:60px;
	margin: 0;
}
.slider-button{
	display: block;
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:0;
	margin-top:-23px;
	background: rgba(0,0,0,.4);
}
.slider-next{
	right:0;
	left:auto;
}
.gallery{
	margin:15px 0 0 -15px;
}
.gallery li{
	width:33.3333%;
	float:left;
	margin-bottom:20px;
}
.gallery li{
	padding-left:14px;
}


.gallery img{
	max-width:100%;
	height:auto;
}

.small li{
	width:25%;
	/*background: #ECE69B;*/
	/*border:1px solid #000;*/
}
.sport-m li{
	margin-bottom:30px;
}
.post{
	/*background: #7EE7D5;*/
	margin: 15px 0;
	position:relative;
}
.post p{
	margin-bottom:40px;
	font-size:.9em;
}
.horizont{
	width: 100%;
}
.horizont-1-2{
	width:50%;
	float:left;
	position: relative;
	height:252px;
}
.vertical{
	float:left;
	width:50%;
	padding-left: 8px;
	margin-left:-8px;
	margin-bottom:20px;
}
.vertical img{
	margin-bottom: 20px;
}
.vertical img,  .horizont img{
	max-width:100%;
	height:auto;
}
.vertical-text{
	min-height: 180px;
	padding-left: 5px;
}
/***************************************************/
.aside{
	width:33.3%;
	/*background: #209F1A;*/
	float: right;
}
.aside-wrap{
	padding: 15px 0 0 10px;
	/*border:1px solid #ccc;*/
	/*background: #CBCCC4;*/
}
/*****************************/
.social{
	padding: 10px;
	font-family: "FFontAwesome";
}
.social-cont{
	width:25%;
	/*background: #F9B0B0;*/
	/*border:1px solid #fff;*/
	float:left;
	padding: 0 10px;
}
.social-icon{
	display:block;
	width:40px;
	height:40px;
	background: #f2f2f4;
	margin:0 auto 20px;
	text-align:center;
	line-height:40px;
}


.gl::before{
	content:"\f0d5";
}
.in::before{
	content:"\f0e1";
}
.tw::before{
	content:"\f099";
}
.fb::before{
	content:"\f09a";
}
.gl:hover, .in:hover, .tw:hover, .fb:hover{
	color:#fff;
}
.gl:hover{
	background: #E84B44;
}
.in:hover{
	background: #007AB5;
}
.tw:hover{
	background: #007AB5;
}
.fb:hover{
	background: #4B6DAA;
}

.count-like{
	position: relative;
	width:100%;
	background: #f2f2f4;
	padding: 5px 5px 1px;
}
.count-like::before{
	position: absolute;
	top:-20px;
	left:50%;
	margin-left:-10px;
	content:'';
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f2f2f4;
	border-left: 10px solid transparent;

}
.count-like p{
	margin: 0 0 5px 0;
	font-family: Tahoma, sans-serif;
	text-align:center;
	color:#5f5f5f;
}
/*****************************/
.social, .popular-post, .video-post, .calendar, .order-post, .entertainment, .banner {
	/*background: #9AEDFC;*/
	margin-bottom: 40px;
	border: 1px solid #e3e2e2;
}
/*****************************/

.mini-post{
	width:100%;
	/*height: 85px;*/
	background: #fff;
	padding: 10px;
}
.mini-post img{
	width: 65px;
	height: 65px;
	margin-right: 10px;
	float:left;
	background: #4D5062;
}
.mini-post-wrapT{
	position: relative;
	/*background: #2707DA;*/
	height: 65px;
	margin-left: 75px;
	font-size: .9em;
}
.mini-post .like{
	right:0;
	left:auto;
}

.mini-post:nth-child(2n){
	background:#F2F2F4;
}

/*****************************/
.video-post-wrap, .entertainment-wrap{
	padding: 10px;
	font-size:.9em;
}

video{
	width:100%;
	height:auto;
}
.title-footer .like{
	top:33%;
	right:0;
	left:auto;
}

.entertainment-wrap img{
	max-width:100%;
	height:auto;
	width:auto\9; /*for IE 8*/
}

.banner{
	width:100%;
	height:250px;
	background: #d5d5d5;
	color:#fff;
	text-align: center;
	line-height:250px;
	font-size:3em;
}
.newslater{
	margin-top:10px;
	padding: 0;
	border-right:0;
}

input[type="email"]{
	width:100%;
	font-weight:normal;
	padding-left:5px;
}
input[type="submit"]{
	width:32%;
	background: #2CB2BC;
	color:#fff;
	border:none;
	line-height:38px;
	outline: none;
}

.email-wrap{
	width:68%;
	padding: 0 10px;
	/*background: #A2F9AA;*/
	float:left;
}



/*footer*/
/***************************************************/
.footer{
	background:#282c2d url(../img/footer-sidebar-bg.png)repeat;
	padding: 30px 0;
	color:#907D7D;
}
.col-1-4{
	width:25%;
	/*height:270px;*/
	/*background: #B7C444;*/
	float:left;
	/*border:1px solid #778028;*/
}
.col-1-4-wrap{
	padding: 10px;
}
/*****************************/
.footer h5{
	font-weight:normal;
	margin: 0;
}
.footer hr{
	margin: 5px 0 20px 0;
	padding: 0;
}
/*****************************/
.footer-logo{
	width: 60%;
}
h1 span{
	font-weight:bold;
	color:#515252;
}
.logo img{
	float: left;
}
.footer-logo img{
	margin-right: 10px;
}
/*****************************/
.footer-post{
	margin-top:-10px;
}
.footer-post img{
	background: #B9B9B9;
}
.footer-post .mini-post{
	background: transparent;
	padding-left: 0;
}
/*****************************/
.tags-pos a{
	display: inline-block;
	padding: 5px 10px;
	font-size: .9em;
	margin: 0 0 10px 5px;
	background: #2CB2BC;
	color:#fff;
}

.tags-pos{
	position: relative;
	left:-5px;

}
.tags a:hover{
	background: #5f5f5f;
}
/*****************************/
.copyright{
	/*height:40px;*/
	background: #2CB2BC;
	position: relative;
	padding: 0 20px;
	text-align: center;
}
.co-text{
	color:#fff;
	font-size:.9em;
	line-height:40px;
}

.co-text:hover{
	color:#EFEFEF;
}
.footer-social{
	position: absolute;
	right:20px;
	top:0;
	font-family: "FFontAwesome";
	
}
.footer-social .social-icon{
	margin: 0;
	color:#fff;
}
.bg{
	background: transparent;
}